body {
    background-color: burlywood;
    font-family: arial;
    margin: 1% 20%;
    padding: 2%;
    border: 4px dashed;
}
h1{
    font: italic bolder 48px arial;
    font-stretch: expanded;
    text-align:center;
    border-bottom: 4px dashed;
        
}
ul{
    text-align: center;
    list-style-position: inside;
    list-style-type :none;
    font-style: italic;

}
li::first-letter{font: italic 26px arial}
