body {
    background-color: burlywood;
    font-family: arial;
    margin: 1% 20%;
    border: 6px dashed;
}    

h1{
    font: italic bolder 48px arial;
    font-stretch: expanded;
    text-align: center;
    padding:0px 0px 0px 0px;
    border-bottom: 6px dashed;
    line-height:60%;
        
}
p{
    padding: 1%;
}
ul{
    text-align: center;
    list-style-position: inside;
    list-style-type :none;
    font-style: italic;

}
li::first-letter{font: italic 26px arial}
.copyright{
    text-align: center;
    font-size: 12px;
}
