body {
        background-color:darkblue;
}
 h1{
        font-family:Arial;
        font-size:48px;
        }
 p{     
     font-family:Arial;
     font-size:18px;
 }
 ul{
     font: 18px Arial;     
     /*display:table; margin:0 auto;*/
     text-align:center;
     list-style-position: inside;
 }
 a{
     color: purple;
 }
 .copyright { 
     font-style: italic;
     font-size:14px;
      }
